{% extends "events/layout.html" %}
{% block title %}Home{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'index' %}">Event Planner</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'index'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
        </ul>
        <form class="d-flex" action= "{%url 'logout'%}" method="post">
            {% csrf_token %}
            {% if user.is_authenticated %}
          <p class="lead">Hello {{user.username}}<p/>
            {% endif %}
            <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>
<!-- TODO
Clean up styling by moving it to the dedicated CSS file as opposed to 
having inline styling 
Best standards
-->
<div style="height: 1000px; padding: 20px; margin-top: 80px;">
    <h1>Welcome you made it to third Heaven</h1>
    <p>Content Coming Soon.</p>
</div>
{% endblock body %}
