{% extends "events/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}


{% block body %}
<div class="row py-5">
  <div class="col-lg-4 mx-auto">
    <div class="logout-container">
      <h1>Sign Up</h1>
      <p class="leading"> Sign up to continue</p>
      <form id="login-form" action="{%url 'sign_up'%}" method='post'>
          {% csrf_token %}
          <div class=".form-control-sm">
              {{form|crispy}}
          </div>
  
        <div class="">
          <p> have an account? Login <a href="{%url 'login'%}"> Here</a></p>
        </div>
          <div >
              <button class="btn btn-primary" type="submit">Register</button>
          </div>
      </form>
  </div>
</div>
</div>


{% endblock body %}