{% extends "events/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}


{% block body %}
   <!--TODO  deadline: 25 April 2025
        1. fix formatting issue where the email address field is not correctly formatted 
        #issue is with crispy forms not being applied on a custom field 

        2. The flex box is appearing blown out of size, resize to look okay
        #inspect css
        -->
<div class="">
    <form id="login-form" action="{%url 'sign_up'%}" method='post'>
        {% csrf_token %}
        <div class="">
            {{form|crispy}}
        </div>

      <div class="">
        <p> have an account? Login <a href="{%url 'login'%}"> Here</a></p>
      </div>
        <div >
            <button class="" type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock body %}