venv 
db.sqlite3
__pycache__/
*.pyc
EventsPlanner/EventsPlanner/__pycache__/urls.cpython-313.pyc
EventsPlanner/EventsPlanner/__pycache__/settings.cpython-313.pyc
EventsPlanner/EventsPlanner/__pycache__/urls.cpython-313.pyc
migrations
