{% extends "events/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}


{% block body %}
<div class="">
    <form id="login-form" action="{%url 'login'%}" method='post'>  
        {% csrf_token %}
        <div class="" >
            {{form|crispy}}
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
       <div class="">
        <p>Don't have an account? Sign up <a href="{%url 'sign_up'%}"> Here</a></p>
       </div>
        <div>
            <button class="" type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock body %}