{% extends "events/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}


{% block body %}
<div class="login-container">
    <form id="login-form" action="{%url 'login'%}" method='post'>
        {% csrf_token %}
        <!--TODO  deadline: 25 April 2025
        1. fix formatting issue where the email address field is not correctly formatted 
        #issue is with crispy forms not being applied on a custom field. 

        2. The flex box is appearing blown out of size, resize to look okay
        #inspect css
        -->
        <div class="input-group" >
            {{form|crispy}}
        </div>
       <div class="signup-link">
        <p>Don't have an account? Sign up <a href="{%url 'sign_up'%}"> Here</a></p>
       </div>
        <div>
            <button class="login-btn" type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock body %}